<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <app-header
    [title]="routeTitle$ | async"
    (toggleNav)="toggleNavHandler()"
  ></app-header>
  <!-- <app-header (toggleNav)="toggleNavHandler()"></app-header> -->
  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="true"
    >
      <!-- <mat-sidenav
        #snav
        [mode]="mobileQuery.matches ? 'over' : 'side'"
        [fixedInViewport]="mobileQuery.matches"
        fixedTopGap="56"
      > -->
      <app-navigation></app-navigation>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

W przypadku kiedy będę chciał przenieś budgeter do layoutu, to tak na prawdę w
budgeterze mi zostanie tylko router outlet. To trochę serio dla mnie sztuka dla
sztuki rozdzielanie warstwy wizualnej i logicznej. No chyba, że czegoś w tym nie
widzę
