.expense {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #d9d9d9;
  margin: 10px;
  height: 70px;

  .expense--info {
    // display: flex;
    // align-items: center;
    padding-left: 10px;
    text-align: center;
    p {
      text-align: center;
    }
  }

  button {
    justify-self: end;
    margin-right: 5px;
  }
}
