<div class="charts">
  <div class="charts--income">
    <canvas
      #budgetIncomeCanvas
      budgetIncomeCanvas
      id="budgetIncomeCanvas"
    ></canvas>
  </div>
  <div class="charts--main">
    <div class="charts--realisation__bar">
      <canvas
        #budgetRealisationBarCanvas
        budgetRealisationBarCanvas
        id="budgetRealisationBarCanvas"
      ></canvas>
    </div>
    <div class="charts--category__donut">
      <canvas
        #budgetCategoryDonutCanvas
        budgetCategoryDonutCanvas
        id="budgetCategoryDonutCanvas"
      ></canvas>
    </div>
  </div>
</div>
