.charts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.charts--income {
  width: min(100%, 1500px);

  canvas {
    height: 50px;
    width: 100%;
  }
}

.charts--main {
  width: 100%;
  display: flex;
  padding-top: 40px;
  // height: 1000px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .charts--realisation__bar,
  .charts--category__donut {
    flex-shrink: 1;
    padding-bottom: 40px;

    canvas {
      width: min(100%, 750px);
      height: 500px;
    }
  }
}
