<div class="settings--container">
  <h3>
    Do poprawnego działania aplikacji potrzebujemy danych o Twoich miesięcznych
    planowanych wydatkach. Tutaj możesz je zmienić.
  </h3>
  <form [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
    <ng-container *ngFor="let category of categoryEnum">
      <mat-form-field>
        <mat-label> {{ mapEngToPl[category] }}: </mat-label>
        <input
          matInput
          type="number"
          min="0.00"
          name="Food"
          [formControlName]="category"
        />
        <mat-error
          *ngIf="
            !settingsForm.get(category)?.valid &&
            settingsForm.get(category)?.touched
          "
          >Wprowadadź prawidłową wartość!</mat-error
        ></mat-form-field
      >
    </ng-container>
    <div class="settings--container__comment">
      {{ hasBeenSaved ? "Zmiany zostały zapisane" : " " }}
    </div>

    <button
      (click)="onSubmit()"
      mat-raised-button
      color="primary"
      [disabled]="!settingsForm.valid"
    >
      Zapisz
    </button>
  </form>
</div>
