.settings--container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
  width: 90%;

  form {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;
  }

  mat-form-field {
    width: 300px;
    margin-bottom: 5px;
  }

  .settings--container__comment {
    color: green;
  }
}
