<mat-toolbar color="primary" class="toolbar">
  <!-- <button mat-icon-button (click)="snav.toggle()"> -->
  <button
    mat-icon-button
    (click)="toggleNavHandler()"
    [style.display]="mobileQuery.matches ? 'block' : 'none'"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <div class="toolbar--header">
    <h1>Hello World</h1>
  </div>
  <div class="toolbar--button">
    <!-- <mat-raised-button>sfsdfsefs</mat-raised-button> -->
    <button mat-raised-button color="primary">Dodaj wpis</button>
  </div>
</mat-toolbar>
