.expense {
  display: flex;
  padding: 10px;
  // width: 100%;
  height: 100%;
  position: relative;
  align-items: center;
}
.expense__input {
  width: 85%;
}

.expense__entry {
  display: flex;
}

.expense__entry--name {
  font-weight: bold;
  width: 20%;
}

.expense__edit {
  display: block;
  height: 100%;
  display: flex;
  align-items: center;
  // position: relative;
  // top: 50%;
  // transform: translateY(-50%);
  // text-align: center;
}
