<div class="calendar">
  <ng-template class="calendar__single" #paginationElement>
    <app-calendar-pagination
      [monthlyExpenses]="monthlyExpenses"
      (updatePagination)="updatePagination($event)"
    ></app-calendar-pagination>
    <div class="calendar--days">
      <app-calendar-day
        class="calendar--days__single"
        [displayedDays]="displayedDays"
        [monthlyExpenses]="monthlyExpenses"
        [wantedMonth]="wantedMonth"
      ></app-calendar-day>
      <app-calendar-day
        class="calendar--days__single"
        *ngIf="displayedDays + 1 < daysInMonth"
        [displayedDays]="displayedDays + 1"
        [monthlyExpenses]="monthlyExpenses"
        [wantedMonth]="wantedMonth"
      ></app-calendar-day>
      <app-calendar-day
        class="calendar--days__single"
        *ngIf="displayedDays + 2 < daysInMonth"
        [displayedDays]="displayedDays + 2"
        [monthlyExpenses]="monthlyExpenses"
        [wantedMonth]="wantedMonth"
      ></app-calendar-day>
    </div>
  </ng-template>
  <div
    *ngIf="monthlyExpenses.length === 0; else paginationElement"
    class="calendar--error"
  >
    <p>
      Żadne wydatki w tym okresie nie zostały wprowadzone. Dodaj wydatek
      przyciskiem "Dodaj wpis".
    </p>
  </div>
</div>
