<div
  class="example-container"
  [class.example-is-mobile]="(breakpointObserver$ | async)?.matches"
>
  <app-header
    [headerText]="title$ | async"
    [shouldDisplayBurger]="(breakpointObserver$ | async)?.matches || false"
    (toggleNav)="toggleNavHandler()"
  ></app-header>
  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav
      #snav
      [mode]="(breakpointObserver$ | async)?.matches ? 'over' : 'side'"
      [fixedInViewport]="true"
    >
      <app-navigation></app-navigation>
    </mat-sidenav>

    <mat-sidenav-content>
      <app-month *ngIf="shouldShowAppMonth"></app-month>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<ng-template appEditExpense> </ng-template>
