.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-sidenav-container {
  z-index: 3;
}

app-header {
  z-index: 4;
}

mat-sidenav {
  width: 300px;
}

.example-is-mobile .example-sidenav-container {
  flex: 1 0 auto;
}

app-header {
  margin-left: 300px;
}

mat-sidenav-content {
  padding-top: 150px;
  height: 100vh;
  width: calc(100% - 300px);
  background-color: #f2f2f2;
}

@media (max-width: 600px) {
  .example-sidenav-container {
    z-index: 1;
    margin-top: 150px;
  }
  mat-sidenav-content {
    padding-top: 0px;
    margin-top: 0px;
    width: 100%;
  }
}
