.history {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .history__single {
    border: 1px solid white;
    width: 300px;
    margin: 5px;
    height: 100%;
    background-color: #d9d9d9;
    border-radius: 4px;
    // overflow: hidden;
  }

  .history__single:hover {
    -webkit-box-shadow: 0px 0px 12px 0px rgb(66, 68, 90);
    -moz-box-shadow: 0px 0px 12px 0px rgb(66, 68, 90);
    box-shadow: 0px 0px 12px 0px rgb(66, 68, 90);
  }
}

@media (max-width: 940px) {
  .history {
    justify-content: center;
  }
}
