.month {
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 2rem;
  text-align: center;
  .month--name {
    display: block;
    width: 150px;
  }

  .month--button__today {
    margin-left: 20px;
    font-size: 2rem;
    padding: 20px;
  }
}
