.month {
  margin: 5px;
  display: flex;
  align-items: center;
  font-size: 2rem;
  width: 200px;
  // width: 100%;
  text-align: center;
  span {
    // display: block;
    margin: auto;
    width: 150px;
  }
}
