.single--day {
  width: 300px;
  -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  margin: 20px;
  height: 100%;
}

.single--name {
  text-align: center;
  padding-top: 5px;
}
