.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  // flex: 1;
  // width: 350px;
  z-index: 3;
}

app-header {
  z-index: 4;
}

mat-sidenav {
  width: 300px;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

app-header {
  margin-left: 300px;
}

mat-sidenav-content {
  // z-index: -1;
  padding-top: 150px;
  // display: transparent;
  // position: relative;
  // top: 300px;
  // left: 300px;
  // background-color: red;
  height: 100vh;
  width: calc(100% - 300px);
  // overflow: scroll;
  background-color: #f2f2f2;
}

@media (max-width: 600px) {
  .example-sidenav-container {
    z-index: 1;
    margin-top: 150px;
  }
  mat-sidenav-content {
    margin-top: 0px;
    width: 100%;
  }
}
