<div class="modal" (click)="deleteComponent($event)">
  <div class="info">
    <div class="tag">
      {{ currentExpense ? "Edytuj wpis" : "Dodaj nowy wpis" }}
    </div>
    <hr />
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <div id="editTicker">
        <label for="editName"> Nazwa : </label>
        <input
          id="editName"
          type="text"
          name="editName"
          formControlName="editName"
        />
        <span
          *ngIf="
            !editForm.get('editName')?.valid &&
            editForm.get('editName')?.touched
          "
          >Wprowadadź poprawną nazwę!</span
        >
        <label for="value"> Wartość : </label>
        <input id="value" type="number" name="value" formControlName="value" />
        <span
          *ngIf="
            !editForm.get('value')?.valid && editForm.get('value')?.touched
          "
          >Wprowadadź poprawną wartość!</span
        >
        <label for="date"> Data : </label>
        <input id="date" type="date" name="date" formControlName="date" />
        <span
          *ngIf="!editForm.get('date')?.valid && editForm.get('date')?.touched"
          >Wprowadadź poprawną wartość!</span
        >
        <label for="category"> Kategoria :</label>
        <select id="category" name="category" formControlName="category">
          <option value="Food">Jedzenie</option>
          <option value="House">Dom</option>
          <option value="Transport">Transport</option>
          <option value="Telecomunication">Telekomunikacja</option>
          <option value="HealthCare">Zdrowie</option>
          <option value="Clothes">Ubrania</option>
          <option value="Hygiene">Higiena</option>
          <option value="Entertiment">Rozrywka</option>
          <option value="Debts">Spłacanie długów</option>
          <option value="Saving">Oszczędności</option>
          <option value="Other">Inne</option>
        </select>
      </div>
    </form>
    <div class="edit--buttons">
      <button (click)="deleteComponent()" mat-raised-button color="primary">
        Anuluj
      </button>
      <button
        (click)="onSubmit()"
        mat-raised-button
        color="primary"
        [disabled]="!editForm.valid"
      >
        Zapisz
      </button>
    </div>
  </div>

  <!-- <div class="info">
    <p>{{ currentExpense.name }}</p>
    <button (click)="deleteComponent()" mat-raised-button color="accent">
      OK
    </button>
  </div> -->
</div>
