.container--sidebar {
  width: 300px;
  background-color: #494faf;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.logo--link {
  display: block;
  width: 50%;
  margin: 2rem;
}

.logo--img {
  display: block;
  width: 100%;
  animation-duration: 0.3s;
  animation-iteration-count: 2;
  transform-origin: bottom;
  filter: invert(100%);

  &:hover {
    animation-name: shake;
  }
}

.container--sidebar__links {
  display: flex;
  flex-direction: column;

  mat-icon {
    font-size: 2rem;
    overflow: visible;
    margin-top: -10px;
    margin-right: 15px;
  }

  a {
    margin: 20px;
    font-size: 2rem;
    padding: 2.4rem;
  }
}

.container--sidebar__special {
  a {
    margin: 20px;
    font-size: 1rem;
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media (max-width: 600px) {
  .container--sidebar {
    margin-top: calc(150px);
    height: calc(100% - 150px);
  }
}
