<div class="container--sidebar">
  <a [routerLink]="['/']" class="logo--link">
    <img
      class="logo--img"
      src="../../../assets/pig-money.svg"
      alt="logo aplikacji"
  /></a>
  <div class="container--sidebar__links">
    <a mat-flat-button [routerLink]="['/']">
      <mat-icon>calendar_today</mat-icon> Kalendarz</a
    >
    <a mat-flat-button [routerLink]="['/Historia']"
      ><mat-icon>list</mat-icon>Historia</a
    >
    <a mat-flat-button [routerLink]="['/Statystyki']">
      <mat-icon>trending_up</mat-icon>Statystyki</a
    >
  </div>
  <div class="container--sidebar__special">
    <a mat-fab [routerLink]="['/Ustawienia']"><mat-icon>settings</mat-icon></a>
    <a mat-fab><mat-icon>logout</mat-icon></a>
  </div>
</div>
